:root {
    --green-50: #EEFFE5;
    /* ultra subtle background */
    --green-100: #DDFFCC;
    /* section background */
    --green-200: #BBFF99;
    /* soft tags */
    --green-300: #99FF66;
    /* muted UI elements */
    --green-400: #77FF33;
    /* hover soft */
    --green-500: #55FF00;
    /* base / primary */
    --green-600: #44CC00;
    /* hover / focus */
    --green-700: #339900;
    /* Active / pressed */
    --green-800: #226600;
    /* deep UI / emphasis */
    --green-900: #113300;
    /*  extreme contrast */
    --green-950: #0C2400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, var(--green-50), var(--green-100), var(--green-300));
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
    background: var(--green-300);
    border: 1px solid var(--green-300);
    border-radius: 12px;
    padding: 12px;
    text-align: center;
}

h1 {
    color: transparent;
    background-image: linear-gradient(135deg, var(--green-400), var(--green-900));
    background-clip: text;
}

/* List Container */

.list-container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    border-radius: 12px;
}

.list-holder {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0 2px 3px;
}

/* input container */

.input-container {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 12px 0;
    border-radius: 12px;
}

form {
    display: flex;
    gap: 12px;
    justify-content: center;
    width: 100%;
}

input {
    width: 65%;
}



button {
    color: black;
    background: linear-gradient(135deg, var(--green-500), var(--green-600));
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    transition: 0.2s ease-in-out;
}

button:hover {
    background: linear-gradient(135deg, var(--green-600), var(--green-700));
    transform: translateY(-1px);
}

input {
    background-color: var(--green-100);
    border: 1px solid var(--green-800);
    border-radius: 10px;
    padding: 8px;
}

.error-msg {
    color: red;
}